.huge-bold {
  font-weight: bold;
  font-size: 4rem;
}
.big-bold {
  font-weight: bold;
  font-size: 2.7rem;
}
.medium-bold {
  font-weight: bold;
  font-size: 1.8rem;
}
.form-font {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
@media screen and (max-width: 525px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.navigation .logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  opacity: 0.8;
}
.navigation .logos img {
  z-index: 2;
  width: 80px;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
}
.navigation .logos div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 2.5rem;
}
@media screen and (max-width: 525px) {
  .navigation .logos div {
    display: none;
  }
}
.navigation .logos div .fitness {
  font-weight: bold;
  font-size: 2.7rem;
  color: #d1d6d5;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
.navigation .logos div .fitness-colored {
  color: #623cea;
}
.navigation .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 30%;
  margin-right: 5%;
}
@media screen and (max-width: 850px) {
  .navigation .links {
    width: 50%;
  }
}
@media screen and (max-width: 525px) {
  .navigation .links {
    width: 75%;
  }
}
.navigation .links a {
  font-size: 1.8rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #d1d6d5;
  opacity: 0.8;
}
.header {
  background-image: url(/img/fitness.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 0;
  margin: 5% 5% 0;
}
@media screen and (max-width: 850px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.hero .form-section {
  width: 50%;
  padding-bottom: 8%;
}
@media screen and (max-width: 850px) {
  .hero .form-section {
    width: 90%;
  }
}
.hero .form-section .form {
  width: 90%;
  background: rgba(240, 247, 239, 0.6);
  margin-top: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 850px) {
  .hero .form-section .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 2% auto;
  }
}
.hero .form-section .form .form-header {
  margin-top: 10%;
  width: 90%;
}
@media screen and (max-width: 850px) {
  .hero .form-section .form .form-header {
    text-align: center;
    margin: auto;
  }
}
.hero .form-section .form .form-header h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #1f2322;
  text-align: center;
  color: #333537;
}
.hero .form-section .form .form-header h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #373e3c;
}
.hero .form-section .form input[type="text"] {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
.hero .form-section .form input[type="email"] {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
.hero .form-section .form input[type="password"] {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
.hero .form-section .form .login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 90%;
}
@media screen and (max-width: 1000px) {
  .hero .form-section .form .login-input {
    width: 90%;
  }
}
.hero .form-section .form .login-input input {
  margin: 1rem auto;
  height: 2.5rem;
  width: 90%;
  border-radius: 3px;
  border: none;
}
.hero .form-section .form .button {
  background: #ff4916;
  width: 15rem;
  height: 3rem;
  border-radius: 3px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5%;
}
.hero .form-section .form .button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f0f7ef;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.hero .hero-text {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10%;
}
@media screen and (max-width: 850px) {
  .hero .hero-text {
    margin: auto;
    text-align: center;
  }
}
.hero .hero-text h1 {
  font-size: 5.5rem;
  font-weight: bold;
  color: #f0f7ef;
}
.hero .hero-text h3 {
  font-size: 6.5rem;
  font-weight: bold;
  color: #f0f7ef;
}
.benefits {
  background: #f0f7ef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15% 8%;
}
@media screen and (max-width: 850px) {
  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.benefits .benefit-card {
  width: 30%;
  height: 45%;
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 850px) {
  .benefits .benefit-card {
    width: 70%;
    padding: 8% 0;
  }
}
.benefits .benefit-card .benefit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 5%;
}
.benefits .benefit-card .benefit-text h3 {
  font-size: 2.1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 3%;
}
.benefits .benefit-card .benefit-text p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 2%;
  line-height: 1.2;
}
.testimonials {
  background: #1f2322;
  padding: 8% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.testimonials .testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  margin: 0 10%;
  text-align: center;
  line-height: 1;
}
.testimonials .testimonial-text p {
  font-size: 1rem;
}
.testimonials .person-id {
  color: white;
}
.testimonials .testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin-left: 40%;
  margin-top: 5%;
}
@media screen and (max-width: 525px) {
  .testimonials .testimonial-image {
    width: 25%;
  }
}
.features {
  background: #f0f7ef;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 10%;
  padding-bottom: 10%;
}
.features .feature-top {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.features .feature-top .feature-text {
  padding: 0 5%;
}
@media screen and (max-width: 850px) {
  .features .feature-top .feature-text {
    padding: 3% 0;
    text-align: center;
  }
}
.features .feature-top .feature-text h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
.features .feature-top .feature-text p {
  font-size: 1.5rem;
}
@media screen and (max-width: 850px) {
  .features .feature-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.features .feature-bottom {
  padding-top: 5%;
  width: 38%;
  margin: auto;
  text-align: center;
}
.features .feature-bottom h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
.features .feature-bottom p {
  font-size: 1.5rem;
}
@media screen and (max-width: 850px) {
  .features .feature-bottom {
    width: 75%;
    padding-top: 3%;
  }
}
.cta {
  background: #1f2322;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10% 0%;
}
.cta h3 {
  font-size: 3rem;
}
.cta div {
  background: #ff4916;
  width: 15rem;
  height: 3rem;
  border-radius: 3px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5%;
}
.cta div a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f0f7ef;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
