.header {
  background-image: url(/img/fitness.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
}

.hero {
  .flex(row, center, center, nowrap);
  @media screen and @tablet {
    .flex(column-reverse, center, center, nowrap);
  }
  z-index: 0;
  margin: 5% 5% 0;

  .form-section {
    width: 50%;
    padding-bottom: 8%;
    @media screen and @tablet {
      width: 90%;
    }

    .form {
      width: 90%;

      background: @form-color;
      margin-top: 5%;
      .padding-top-bottom(8%);
      border-radius: 20px;
      .flex(column, flex-start, center, nowrap);
      box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.7);

      @media screen and @tablet {
        .flex(column, center, center, nowrap);
        .padding-top-bottom(5%);
        margin: 2% auto;
      }
      .form-header {
        margin-top: 10%;
        width: 90%;
        @media screen and @tablet {
          text-align: center;
          margin: auto;
        }
        h2 {
          font-size: 2rem;
          font-family: @montserrat;
          font-weight: bold;
          color: @charcoal;
          text-align: center;
          color: darken(@graphite, 10%);
        }
        h3 {
          font-size: 1.5rem;
          font-family: @montserrat;
          color: lighten(@charcoal, 10%);
        }
      }

      input[type="text"] {
        .form-font();
      }

      input[type="email"] {
        .form-font();
      }

      input[type="password"] {
        .form-font();
      }

      .login-input {
        .flex(column, center, flex-start, nowrap);
        width: 90%;
        @media screen and @tablet-lg {
          width: 90%;
        }
        input {
          margin: 1rem auto;
          height: 2.5rem;
          width: 90%;
          border-radius: 3px;
          border: none;
        }
      }

      .button {
        background: @candycorn;
        width: 15rem;
        height: 3rem;
        border-radius: 3px;
        text-decoration: none;
        .flex(row, center, center, nowrap);
        margin-top: 5%;

        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: @flat-white;
          font-family: @roboto;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }
  }

  .hero-text {
    font-family: @montserrat;
    margin-bottom: 10%;
    @media screen and @tablet {
      margin: auto;
      text-align: center;
    }
    h1 {
      font-size: 5.5rem;
      font-weight: bold;
      color: @flat-white;
    }

    h3 {
      font-size: 6.5rem;
      font-weight: bold;
      color: @flat-white;
    }
  }
}

.benefits {
  background: @flat-white;
  .flex(row, space-around, center, nowrap);
  padding: 15% 8%;

  @media screen and @tablet {
    .flex(column, space-around, center, nowrap);
  }

  .benefit-card {
    width: 30%;
    height: 45%;
    margin: 0 2%;
    .flex(column, space-between, center, nowrap);
    @media screen and @tablet {
      width: 70%;
      padding: 8% 0;
    }

    .benefit-text {
      .flex(column, center, center, nowrap);
      padding-top: 5%;
      h3 {
        font-size: 2.1rem;
        font-weight: bold;
        font-family: @montserrat;
        text-align: center;
        padding-bottom: 3%;
      }
      p {
        font-size: 1.5rem;
        font-family: @montserrat;
        text-align: center;
        padding-bottom: 2%;
        line-height: 1.2;
      }
    }
  }
}

.testimonials {
  background: @charcoal;
  padding: 8% 0;
  .flex(row, center, center, wrap);
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    margin: 0 10%;
    text-align: center;
    line-height: 1;
    p {
      font-size: 1rem;
    }
  }
  .person-id {
    color: white;
  }
  .testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin-left: 40%;
    margin-top: 5%;
    @media screen and @mobile {
      width: 25%;
    }
  }
}

.features {
  background: @flat-white;
}

.features {
  .flex(column, space-between, center, nowrap);
  .padding-top-bottom(10%);
  .feature-top {
    width: 75%;
    .flex(row, space-between, center, nowrap);
    .feature-text {
      padding: 0 5%;

      @media screen and @tablet {
        padding: 3% 0;
        text-align: center;
      }

      h3 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
      }
    }
    @media screen and @tablet {
      .flex(column, space-between, center, nowrap);
    }
  }
  .feature-bottom {
    padding-top: 5%;
    width: 38%;
    margin: auto;
    text-align: center;
    h3 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    p {
      font-size: 1.5rem;
    }
    @media screen and @tablet {
      width: 75%;
      padding-top: 3%;
    }
  }
}

.cta {
  background: @charcoal;
  color: white;
  .flex(column, center, center, nowrap);
  padding: 10% 0%;
  h3 {
    font-size: 3rem;
  }
  div {
    background: @candycorn;
    width: 15rem;
    height: 3rem;
    border-radius: 3px;
    text-decoration: none;
    .flex(row, center, center, nowrap);
    margin-top: 5%;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: @flat-white;
      font-family: @roboto;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
