nav {
  .flex(row, space-between, center, nowrap);
  width: 100%;
  height: 64px;
  background: @charcoal-see-thru;
  .padding-top-bottom(0.5%);

  .logo {
    .flex(row, flex-start, center, nowrap);
    opacity: 0.8;

    img {
      z-index: 2;
      max-height: 100%;
      width: 22%;
      .padding-sides(2%);
    }

    div {
      .flex(column, flex-end, flex-start, nowrap);

      .fitness {
        .big-bold();
        color: lighten(@charcoal, 70%);
        font-family: @montserrat;
        letter-spacing: 2px;
      }

      .text {
        color: @blueberry;
      }
    }
  }

  .links {
    .flex(row, space-between, center, nowrap);

    width: 30%;
    margin-right: 5%;

    a {
      font-size: 1.8rem;
      text-decoration: none;
      font-family: @roboto;
      color: lighten(@charcoal, 70%);
      opacity: 0.8;
    }
  }
}
